{% extends "base.html" %}

{% block content %}
<div class="content-backdrop"></div>

<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Shopping Bag</h2>
            <hr class="w-50 mb-4">
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <p class="text-muted">Bag table will go here.</p>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}