core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.venv/
.env
*.sqlite3
/staticfiles/
db_backup.json
db_heroku_seed.json
db_fixed.json
backup_after_recovery.json