<!-- Main site navigation -->
<div class="collapse navbar-collapse" id="main-nav">

    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'products' %}">
                All Products
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'products' %}?category=audio-books">
                Audio Books
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'products' %}?category=digital-art">
                Digital Art
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'products' %}?category=productivity">
                Productivity
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'products' %}?category=software">
                Software
            </a>
        </li>

    </ul>

</div>