<!-- Main site navigation -->
<div class="collapse navbar-collapse" id="main-nav">

    <ul class="navbar-nav w-auto mx-auto">

        <!-- All products -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item">By Rating</a>
                <a href="#" class="dropdown-item">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Gaming -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" id="gaming-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gaming
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gaming-link">
                <a href="#" class="dropdown-item">All Gaming</a>
            </div>
        </li>

        <!-- E-Books -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" id="ebooks-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                E-Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ebooks-link">
                <a href="#" class="dropdown-item">All E-Books</a>
            </div>
        </li>

        <!-- Courses & Tutorials -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" id="courses-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Courses &amp; Tutorials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="courses-link">
                <a href="#" class="dropdown-item">All Courses</a>
            </div>
        </li>

        <!-- Digital Art -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" id="digital-art-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Digital Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="digital-art-link">
                <a href="#" class="dropdown-item">All Digital Art</a>
            </div>
        </li>

        <!-- Music & Audio Packs -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" id="audio-packs-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Music &amp; Audio Packs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="audio-packs-link">
                <a href="#" class="dropdown-item">All Audio Packs</a>
            </div>
        </li>

        <!-- Gift Cards -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" id="gift-cards-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gift Cards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift-cards-link">
                <a href="#" class="dropdown-item">All Gift Cards</a>
            </div>
        </li>

    </ul>

</div>