{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-backdrop"></div>

<!-- Product detail -->
<div class="container-fluid mt-4 mt-lg-5">
    <div class="row align-items-start">

        <!-- Product image -->
        <div class="col-12 col-md-5 col-lg-4 offset-lg-1 mb-4 mb-md-0">

            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="img-fluid product-detail-image" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% elif product.image_url %}
            <a href="{{ product.image_url }}" target="_blank">
                <img class="img-fluid product-detail-image" src="{{ product.image_url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <img class="img-fluid product-detail-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            {% endif %}

        </div>

        <!-- Product info -->
        <div class="col-12 col-md-7 col-lg-5">
            <h3 class="mb-2">{{ product.name }}</h3>
            <p class="lead mb-3 font-weight-bold">€{{ product.price }}</p>

            {% if request.user.is_superuser %}
            <p class="mb-2">
                <small>
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
            </p>
            {% endif %}

            <p class="mb-0">{{ product.description }}</p>

            <!-- Add to bag -->
            <form class="form mt-4" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <div class="form-group w-100">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Qty</span>
                                </div>
                                <input class="form-control" type="number" name="quantity" value="1" min="1" max="99">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase w-100" value="Add to Bag">
                        <a href="{% url 'products' %}"
                            class="btn btn-outline-black rounded-0 text-uppercase w-100 mt-2">
                            Keep Shopping
                        </a>
                    </div>
                </div>

                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>

        </div>

    </div>
</div>
{% endblock %}